{% extends "admin_base.html" %} {% block extrahead %}
<title>MSE ALUMNI - Admin accounts management</title>
{% endblock %} {% block content %}
<!-- Star here-->
<div class="body">
	<div>
		<div>
			<div>
				<div class="programs">
					<h2>Update Admin Account</h2>

					<div class="application">
						<h3>Update Admin Account</h3>
						<form action="/admin_account_add/" method="post">
							<div>
								<table>
									<tr>
										<td><label for="account"><span>A</span>ccount:</label></td>
										<td>{{ user.account }}</td>
									</tr>
									<tr>
										<td><label for="password"><span>P</span>assword:</label></td>
										<td><input type="text" id="password"
											name="password" placeholder="{{ user.password }}"></td>
										<td><h name="message_password"
												style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal" /></td>
									</tr>
									<tr>
										<td><label for="first_name"><span>F</span>irst
												name:</label></td>
										<td><input type="text" id="first_name" name="first_name" placeholder="{{ user.first_name }}"></td>
										<td><h name="message_first_name"
												style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal" /></td>
									</tr>
									<tr>
										<td><label for="last_name"><span>L</span>ast
												name:</label></td>
										<td><input type="text" id="last_name" name="last_name" placeholder="{{ user.last_name }}"></td>
										<td><h name="message_last_name"
												style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal" /></td>
									</tr>
									<tr>
								</table>
								<input type="button" value="Update Account" id="searchbutton"
									onclick="ajax_admin_account_update()"> 
								<input type="button" value="Cancel" id="searchbutton" onclick="javascript:history.go(-1);">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end here-->

{% endblock %}
