{% extends "admin_base.html" %} {% block extrahead %}
<title>MSE ALUMNI - ALUMNUS MESSAGE</title>
{% endblock %} {% block content %}

<div class="body">
	<div class="register">
		<div>
			<div>
				<div class="search">
					<h2>Message List</h2>

					<table class="table table-striped table-bordered" align="center">
						{% load pagination_tags %}
						{% autopaginate messages 5 %} 
						{% if messages %}
						<tr>
							<th>Subject</th>
							<th>Date</th>
							<th>Content</th>
							<th>File</th>
						</tr>
						{% for msg in messages %}
						<tr>
							<td>{{msg.subject}}</td>
							<td>{{msg.date}}</td>
							<td>{{ msg.abstract }}</td>							
							<td>
								{% if msg.docfile1 %}
								<a href="{{ msg.docfile1.url }}"><img src="{{ msg.docfile1.url }}"
								style="width: 45px; height: 50px"></a>
								{% else %}
									<p>(No Image)</p>
								{% endif %}
								{% if msg.docfile2 %}
								<a href="{{ msg.docfile2.url }}"><img src="{{ msg.docfile2.url }}"
								style="width: 45px; height: 50px"></a>
								{% else %}
<!-- 								<img src="/media/images/defaultImage/imageNotFound.jpg" -->
<!-- 								style="width: 90px; height: 100px"> -->
								{% endif %}
								{% if msg.docfile3 %}
								<a href="{{ msg.docfile3.url }}"><img src="{{ msg.docfile3.url }}"
								style="width: 45px; height: 50px"></a>
								{% else %}
<!-- 								<img src="/media/images/defaultImage/imageNotFound.jpg" -->
<!-- 								style="width: 90px; height: 100px"> -->
								{% endif %}
							</td> 
						</tr>
						{% endfor %}
						{% else %}
						<p>No Messages.</p>
						{% endif %}
					</table>
<!-- 					{% paginate %} -->
					<div class="pagination-div" align="center" style="width: 880px; height: 90px;">{% paginate %}</div>

					<br>
					<div align="center" style="width: 804px">
						{% if request.session.user and request.session.user.type == '0' %}

						<form action="/admin_message/" method="post"
							enctype="multipart/form-data">

							<table align="center">
								<tr>
									<td><label id="email_label" for="title"><span>S</span>ubject:</label></td>
									<td><input name="subject" id="email_title" type="text"></td>
								</tr>
								<tr>
									<td><label id="email_label" for="email"><span>A</span>bstract:</label></td>
									<td><textarea name="abstract" id="email_block" cols="30"
											rows="10"></textarea></td>
								</tr>
								<tr>
									<td></td>
									<td><input name="docfile" type="file" ></td>
								</tr>
								<tr>
									<td></td>
									<td><input  name="docfile" type="file" ></td>
								</tr>
								<tr>
									<td></td>
									<td><input  name="docfile" type="file" ></td>
								</tr>
								<tr>
									<td></td>
									<td><input id="email_button" type="submit" value="Send"
										id="submit" multiple></td>
								</tr>
							</table>
						</form>
						{% endif %}
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}