{% extends "base.html" %} {% block extrahead %}
<title>MSE ALUMNI - REGISTER</title>
{% endblock %} {% block content %}
<!-- main part -->
<script>
$( document ).ready(function( $ ) {
	data_picker();
});

function data_picker() {
    $('.graduate_date').datepicker(
                   {
                       dateFormat: "yy-mm",
                       changeMonth: true,
                       changeYear: true,
                       showButtonPanel: true,
                       yearRange: "-100:+0",
                       onClose: function(dateText, inst) {


                           function isDonePressed(){
                               return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                           }

                           if (isDonePressed()){
                               var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                               var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                               $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                               
                                $('.graduate_date').focusout()//Added to remove focus from datepicker input box on selecting date
                           }
                       },
                       beforeShow : function(input, inst) {

                           inst.dpDiv.addClass('month_year_datepicker')

                           if ((datestr = $(this).val()).length > 0) {
                               year = datestr.substring(datestr.length-4, datestr.length);
                               month = datestr.substring(0, 2);
                               $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                               $(this).datepicker('setDate', new Date(year, month-1, 1));
                               $(".ui-datepicker-calendar").hide();
                           }
                       }
                   });
}

// function data_picker(){
// 	 $(".graduate_date").datepicker({
// 	        dateFormat: 'MM yy',
// 	        changeMonth: true,
// 	        changeYear: true,
// 	        showButtonPanel: true,

// 	        onClose: function(dateText, inst) {
// 	            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
// 	            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
// 	            $(this).val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
// 	        }
// 	    });

// 	    $(".graduate_date").focus(function () {
// 	        $(".ui-datepicker-calendar").hide();
// 	        $("#ui-datepicker-div").position({
// 	            my: "center top",
// 	            at: "center bottom",
// 	            of: $(this)
// 	        });
// 	    });
// }
</script>
<div class="body">
	<div class="register">
		<div>
			<div>
				<div class="register">
					<h2>Join Us TODAY!</h2>
					<form action="/register/" method="post">
						<div>
							<table>
								<tr>
									<td><label for="account"><span>A</span>ccount:</label></td>
									<td><input type="text" id="account" name="account">
									<p name="message_account" style="display:none;color:red"/></td>
								</tr>
								<tr>
									<td><label for="password"><span>P</span>assword:</label></td>
									<td><input type="password" id="password" name="password">
									<p name="message_password" style="display:none;color:red"/></td>
								</tr>
								<tr>
									<td><label for="password_confirm"><span>P</span>assword
											<span>C</span>onfirm:</label></td>
									<td><input type="password" id="password_confirm" name="password_confirm">
									<p name="message_passwordconfirm" style="display:none;color:red"/></td>
								</tr>
								<tr>
									<td><label for="first_name"><span>F</span>irst <span>N</span>ame:</label></td>
									<td><input type="text" id="first_name" name="first_name">
									<p name="message_first_name" style="display:none;color:red"/></td>
								</tr>
								<tr>
									<td><label for="last_name"><span>L</span>ast <span>N</span>ame:</label></td>
									<td><input type="text" id="last_name" name="last_name">
									<p name="message_last_name" style="display:none;color:red"/></td>
								</tr>

								<tr>
									<td><label for="email"><span>E</span>mail <span>A</span>ddress:</label></td>
									<td><input type="text" id="email" name="email">
									<p name="message_email" style="display:none;color:red"/></td>
								</tr>
								
								<tr>
									<td><label for="graduate_date_label"><span>G</span>raduation
											<span>D</span>ate:</label></td>
									<td><input type="text" id="graduate_date" name="graduate_date" class="graduate_date">
									<p name="message_graduate_date" style="display:none;color:red"/></td>
								</tr>
								<tr>
									<td><label for="gender"><span>G</span>ender:</label></td>
									<td>
										<select id="gender" name="gender">
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</td>
								</tr>
								<tr>
								<td></td>
								<td><input type="button" id="submit" value="Register" onclick="ajax_register();"></td>
								</tr>
							</table>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end main part -->
{% endblock %}
