{% extends "working_base.html" %} {% block content_child %}
<div class="application">
	<h3>Add New Working</h3>
	<form action="/working_add/" method="post">
		<div>
			<table>
				<tr>
					<td><label for="title"><span>T</span>itle:</label></td>
					<td><input type="text" id="title" name="title" ></td>
					<td><h name="message_title" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="start_date"><span>S</span>tart <span>D</span>ate:</label></td>
					<td><input type="month" id="start_date" name="start_date"></td>
					<td><h name="message_start_date" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="end_date"><span>E</span>nd <span>D</span>ate:</label></td>
					<td><input type="month" id="end_date" name="end_date"></td>
					<td><h name="message_end_date" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="company"><span>C</span>ompany:</label></td>
					<td><input type="text" id="company" name="company"></td>
					<td><h name="message_company" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="address"><span>A</span>ddress:</label></td>
					<td><textarea name="address" id="address" cols="30" rows="5"></textarea></td>
					<td><h name="message_address" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="city"><span>C</span>ity:</label></td>
					<td><input type="text" id="city" name="city"></td>
					<td><h name="message_city" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="state"><span>S</span>tate:</label></td>
					<td><input type="text" id="state" name="state"></td>
					<td><h name="message_state" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="zip"><span>Z</span>ip:</label></td>
					<td><input type="text" id="zip" name="zip"></td>
					<td><h name="message_zip" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>
				<tr>
					<td><label for="description"><span>D</span>escription:</label></td>
					<td><textarea id="description" name="description" cols="30"
							rows="5"></textarea></td>
							<td><h name="message_description" style="display:none;color:red;font-size:14px;text-transform:none;font-weight:normal"/></td>
				</tr>

			</table>
			<tr>
				<input type="button" value="add working info"
					id="education-button" onclick="ajax_working();">
			</tr>
		</div>
	</form>
</div>
{% endblock %}
